Workflows/contactFlow-3BADA53F-2159-EC11-8F8F-0022489C86C7.json
{"properties":{"connectionReferences":{"shared_sql_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr1ed_sharedsql_48ffd"},"api":{"name":"shared_sql"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5a16f4a0-20c6-4af2-8b58-cb60e7aa09c3"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"KrajRec","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"501a8d99-cdfc-4527-b9f1-c48e69d3428b"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"contactret":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"contactret":{"title":"contactRet","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_rows_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"2658f784-a07a-4c65-8618-3d6a0f5a0412"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sql_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_sql"},"parameters":{"server":"default","database":"default","table":"[dbo].[CovidContacts]","$filter":"contains(KOD, '@{triggerBody()['text']}')"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_rows_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"22f79539-6909-40d1-a4c6-89d297aab444"},"type":"InitializeVariable","inputs":{"variables":[{"name":"contactAutoVar","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Get_rows_(V2)')?['body/value']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"70c7e364-b6c7-470f-9d09-f9f48489ab4d"},"type":"AppendToStringVariable","inputs":{"name":"contactAutoVar","value":"K Vámi vyhledávanému kraji zaznamenávám tyto údaje hygienické stanice:\n\nSídlo: @{items('Apply_to_each')?['SIDLO']}\n\nKontakt: @{items('Apply_to_each')?['KONTAKT']}\n\nOtevírací doba: @{items('Apply_to_each')?['REZIM']}\n                            @{items('Apply_to_each')?['REZIM_VIKEND']}"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3f8a0e2a-da89-4268-84c6-5bd427bf324d"},"type":"Foreach"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"d5953ef8-1836-4db4-a098-140c9901aff1"},"type":"Compose","inputs":"@variables('contactAutoVar')"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}