Workflows/qaFlow-92363D7E-E45A-EC11-8F8F-0022489C86C7.json
{"properties":{"connectionReferences":{"shared_cognitiveservicesqnamaker":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr1ed_sharedcognitiveservicesqnamaker_dd9e9"},"api":{"name":"shared_cognitiveservicesqnamaker"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4df8d19d-304e-4dbe-8153-29530de31c5c"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"qaRec","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"bcd37761-30ba-4431-b768-c8240edd336e"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"qaret":"@variables('qaprocess')"},"schema":{"type":"object","properties":{"qaret":{"title":"qaRet","x-ms-dynamically-added":true,"type":"string"}}}}},"Generate_answer":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"1b769613-57b5-4b00-9629-79f4e1ddd96d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cognitiveservicesqnamaker","operationId":"GenerateAnswer","apiId":"/providers/Microsoft.PowerApps/apis/shared_cognitiveservicesqnamaker"},"parameters":{"KnowledgeBaseId":"501b5018-fc51-4072-9ede-9ce297eed371","ServiceHost":"https://covidbcz.azurewebsites.net/qnamaker","EndpointKey":"9da2f31f-74b9-4a6c-a7aa-5ca07aef6398","body/question":"@triggerBody()['text']","body/top":1},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"6219fa04-8d24-4712-a48f-e28b2dedb598"},"type":"InitializeVariable","inputs":{"variables":[{"name":"qaprocess","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Generate_answer')?['body/answers']","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"161a65c9-bb17-4783-a0e1-836b2408e21f"},"type":"SetVariable","inputs":{"name":"qaprocess","value":"@items('Apply_to_each')?['answer']"}}},"runAfter":{"Generate_answer":["Succeeded"]},"metadata":{"operationMetadataId":"e8ca8cb2-caf3-4a56-b547-7fa0c03e3ea5"},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}