Workflows/statistikaFlow-BE1C9A9A-DF56-EC11-8F8F-0022489C86C7.json
{"properties":{"connectionReferences":{"shared_sql_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr1ed_sharedsql_558fe"},"api":{"name":"shared_sql"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c8695b41-e29b-47a9-98b2-4b078fdb526b"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"statsRec","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"441879d2-5e3a-4355-b693-5e90c94bdf60"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"statsret":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"statsret":{"title":"statsRet","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_rows_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"614a6dfc-cfc2-4b96-aad6-2b6962b5878d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sql_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_sql"},"parameters":{"server":"default","database":"default","table":"[dbo].[CovidTable]","$filter":"contains(KOD,'@{triggerBody()['text']}')"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_rows_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"6b49eee3-2b21-4810-aa88-596f2b2d4b83"},"type":"InitializeVariable","inputs":{"variables":[{"name":"statsAutoVar","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Get_rows_(V2)')?['body/value']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"46cca992-2aa6-4cc1-a3b2-a9789419cbd1"},"type":"AppendToStringVariable","inputs":{"name":"statsAutoVar","value":"Statistiky COVID-19 pro @{items('Apply_to_each')?['Lokalita']}:\n\nPočet případů: @{items('Apply_to_each')?['Případy']}\n\nPočet úmrtí: @{items('Apply_to_each')?['Úmrtí']}\n\nPočet vyléčených: @{items('Apply_to_each')?['Vyléčení']}\n\nPočet očkovaných: @{items('Apply_to_each')?['Očkovaní']}\n\nPoslední aktualizace: @{items('Apply_to_each')?['Datum']}"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7b58ed77-b889-4f7d-bc4d-d39af3ba5a41"},"type":"Foreach"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"63294c1f-1a37-4108-a0c5-abd434fdd0c3"},"type":"Compose","inputs":"@variables('statsAutoVar')"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}