Workflows/Symptom-F14A78DE-31C8-EB11-BACC-000D3AB10CD6.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c7035801-6099-4149-ae73-5c075213da83"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Sym1","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Sym2","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Sym3","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Sym4","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Sym5","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Sym6","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Sym7","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Sym8","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"Sym9","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"Sym10","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"Sym11","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"Sym12","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_12":{"title":"Sym13","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10","text_11","text_12"]}}}},"actions":{"Initialize_variable_Heavy":{"runAfter":{},"metadata":{"operationMetadataId":"3a46c080-ae9b-4311-af43-fca4169ee7bd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"HeavySymptom","type":"string","value":"@{triggerBody()['text']}@{triggerBody()['text_1']}@{triggerBody()['text_2']}@{triggerBody()['text_3']}@{triggerBody()['text_4']}@{triggerBody()['text_5']}"}]}},"Initialize_variable_Light":{"runAfter":{"Initialize_variable_Heavy":["Succeeded"]},"metadata":{"operationMetadataId":"3446a5c7-abbb-4343-b60b-1ef64afaf1a0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"LightSymptom","type":"string","value":"@{triggerBody()['text_6']}@{triggerBody()['text_7']}@{triggerBody()['text_8']}@{triggerBody()['text_9']}@{triggerBody()['text_10']}@{triggerBody()['text_11']}@{triggerBody()['text_12']}"}]}},"Condition":{"actions":{"Nastavit_proměnnou":{"runAfter":{},"metadata":{"operationMetadataId":"95bd6a15-013f-42ca-bd6a-3d5aabdf4724"},"type":"SetVariable","inputs":{"name":"SymResult","value":"Jeden nebo více z vašich uvedených příznaků by mohl být příznakem COVIDU-19."}}},"runAfter":{"Initialize_variable_Result":["Succeeded"]},"else":{"actions":{"Nastavit_proměnnou_2":{"runAfter":{},"metadata":{"operationMetadataId":"491bdcc5-b076-4e9e-9eb5-4661c27ad179"},"type":"SetVariable","inputs":{"name":"SymResult","value":"Vámi uvedené příznaky nenaznačují přítomnost nemoci COVID-19."}}}},"expression":{"or":[{"greater":["@length(variables('HeavySymptom'))",12]},{"greater":["@length(variables('LightSymptom'))",15]}]},"metadata":{"operationMetadataId":"02dc5bb3-b358-4b3e-8d61-3a645835da33"},"type":"If"},"Initialize_variable_Result":{"runAfter":{"Initialize_variable_Light":["Succeeded"]},"metadata":{"operationMetadataId":"c46bab75-2d8e-43d4-be6b-a9e4ed130988"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SymResult","type":"string"}]}},"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"5457a917-e4d7-4661-a941-56a64fa2f57b"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"syresult":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"syresult":{"title":"SyResult","x-ms-dynamically-added":true,"type":"string"}}}}},"Compose":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"10528543-f544-48c9-96bf-1849aff3bd7b"},"type":"Compose","inputs":"@variables('SymResult')"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}