Workflows/unrecognizedPhrase-1D649CDF-0856-EC11-8F8F-0022489C86C7.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cr1ed_sharedsendmail_ffebb"},"api":{"name":"shared_sendmail"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedteams_272c5"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"897f010f-a44b-4dd8-8eba-6ebc46f00387"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text_1":{"title":"unrecognizedPhrase_content","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text_1"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"33a0da35-a3b7-438c-9c36-21cac80cfba7"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Send_an_email_notification_(V3)":{"runAfter":{"Post_message_in_a_chat_or_channel":["Succeeded"]},"metadata":{"operationMetadataId":"0a073f7e-5b98-4429-8e93-34a3761f2b84"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"nguq03@vse.cz","request/subject":"Unrecognized phrase contact","request/text":"<p>Toto je email zahrnující nerozeznanou frázi.<br>\n<br>\nNerozeznaná fráze: @{triggerBody()['text_1']}</p>"},"authentication":"@parameters('$authentication')"}},"Get_an_@mention_token_for_a_user":{"runAfter":{},"metadata":{"operationMetadataId":"2e1955fe-5f46-4406-8425-8b91c30b73ba"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"AtMentionUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"userId":"nguq03@vse.cz"},"authentication":"@parameters('$authentication')"}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Get_an_@mention_token_for_a_user":["Succeeded"]},"metadata":{"operationMetadataId":"cc427a54-289d-4cd4-a3ff-7fe7558ec0db"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Get_an_@mention_token_for_a_user')?['body/atMention']};","body/messageBody":"<p>@{outputs('Get_an_@mention_token_for_a_user')?['body/atMention']} Máme tu nezodpovězenou zprávu.<br>\nPrověřte ji: @{triggerBody()['text_1']}</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}